#usersTable, #productsTable {
  width: 100%;
  border-collapse: collapse;
}
#usersTable th, #productsTable th, #usersTable td, #productsTable td {
  border: 1px solid #ccc;
  padding: 8px;
  
}
#usersTable th, #productsTable th {
  background-color: #d8f0d3;
}
#usersTable tbody tr:nth-child(even), #productsTable tbody tr:nth-child(even){
  background-color: #f9f9f9;
}

body {
  width: 80%;
  margin: 0 auto;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
